.admin form{
    width: 400px;
    margin: auto;
    margin-top: 50px;
}
.admin form .inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.admin form input{
    padding-top: 15px ;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: var(--secondary-color);
    border-bottom: var(--primary-color) 1px solid;
    color: var(--text-color);
}
.admin form input[name = "submit"]{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    outline: 1px solid var(--primary-color);
    box-sizing: border-box;
}
.admin form input[name = "submit"]:hover{
    background-color: transparent;
    color: var(--primary-color );
}
