.home{
    background-color: var(--secondary-color);
    position: relative;
    min-height:calc(100vh - 85px) ;
}
.home .inner{
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    z-index: 1;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 400px;
}
.text div h1:last-of-type{
    margin-right: 50px;
    color: var(--text-color);
}
span{
    color: var(--primary-color);
}
p{
    word-spacing: 5px;
    line-height: 30px;
    font-size: 20px;
    color: var(--text-color);
}
p span{
    color: var(--text-color);
}
h1,p{margin: 0;}

.home a{
    background-color:var(--primary-color);
    padding: 8px 15px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 20px;
    width: fit-content;
    margin: auto;
    border: 1px solid var(--secondary-color);
    outline: 1px solid var(--primary-color);
    transition-duration: 0.3s;
}
.home a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.banner{
    max-height : 100%;
    width:600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes upAndDown {
    from{transform: translateY(-10px);}
    to{transform: translateY(10px);}
}
@media(max-width:768px) {
    .home{margin-bottom: 50px;}
    .home .inner{
        flex-direction: column;
        text-align: center;
    }
    .text{width: 100%;}
    .banner{width: 100%;}
}
