.footer{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #eee;
    background-color: var(--primary-color);
    position:fixed;
    bottom: 0;
    gap: 50px;
    text-align: center;
}
.footer span{
    color: #eee;
}
@media (max-width:450px) {
   .footer{
        height: 60px;
        position: static;
    }
}