.videos{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
    border: var(--primary-color) 1px solid;
}
.videos .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-color: var(--text-color) #555;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
}
.videos .left button,
.videos a{
    text-align: right;
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 17px;
    background-color: var(--secondary-color);
}
.videos .right {
    display: flex;
    color: var(--text-color);
}
.videos .right .videoPlayer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}